@import "../main/parameters";

.order {
    padding-top: 15.8rem;

    &__row {
        display: flex;
        background: $c-light-bg;
        border-radius: 50px;
        max-height: 540px;
        max-width: 1140px;
    }

    &__imgs {
        flex: 1 0 50%;
        max-width: 50%;
        position: relative;
    }

    &__imgs::before {
        content: "";
        position: absolute;
        background: url(../imgs/order-drink.png) center no-repeat;
        background-size: cover;
        height: 28.5rem;
        width: 15.6rem;
        z-index: 1;
        left: 2.1rem;
        top: 19rem;
    }

    &__imgs::after {
        content: "";
        position: absolute;
        background: url(../imgs/order-chips.png) center no-repeat;
        background-size: cover;
        height: 11.7rem;
        width: 22.3rem;
        z-index: 3;
        left: 37rem;
        top: 48.2rem;
    }

    &__img-phone {
        position: relative;
        top: -5rem;
        left: 14rem;
        z-index: 2;
        max-width: 32.1vw;
    }

    // &__img-chips {
    //     position: absolute;
    //     height: 117px;
    //     width: 223px;
    //     left: 37rem;
    //     top: 48rem;
    //     z-index: 3;
    // }

    // &__img-drink {
    //     position: absolute;
    //     left: 2.1rem;
    //     top: 19rem;
    //     z-index: 1;
    //     max-width: 15.6vw;
    //     }

    &__content {
        flex: 1 0 50%;
        max-width: 50%;
        max-height: 540px;
    }

    &__tagline {
        font-size: 1.8rem;
        line-height: 1;
        /* identical to box height, or 100% */
        color: $c-text2;
        padding-top: 11.6rem;
        margin-bottom: 2.2rem;
    }

    &__title {
        font-weight: 900;
        font-size: 4.0rem;
        line-height: 1.38;
        /* identical to box height, or 138% */
        color: $c-text;
        max-width: 195px;
        margin-bottom: 2.2rem;
    }

    &__txt {
        font-size: 1.6rem;
        line-height: 1.5;
        /* or 150% */
        color: $c-text2;
        max-width: 414px;
    }
}

@media screen and (max-width: $sm) {
    .order {
        padding-top: 10rem;
        
        &__title {
            font-size: 3.0rem;
        }

        &__img-drink {
            left: 0;
            top: 19rem;
        }

        &__img-phone {
            top: 0;
            left: 8rem;
        }

        &__imgs::after {
            display: none;
        }
    }
}

@media screen and (max-width: $xs) {
    .order {
        &__imgs::before {
            height: 21.5rem;
            width: 11.6rem;
            left: 0;
            top: 21rem;
        }

        &__img-phone {
            top: 8rem;
            left: 6rem;
        }

        &__tagline {
            padding-top: 12.6rem;
        }

        &__title {
            font-size: 2.8rem;
        }

        &__txt {
            padding-bottom: 12.6rem;
        }
    }
}