section.main-section
    .container.main-section__row 
        .main-section__content 
            h1.main-section__title
                span.primary Order ahead 
                | and earn rewards for every purchase
                span.dot .
            a.main-section__btn(href="#") Discover how
        .main-section__img-wrap
            img.main-section__img(src="./assets/imgs/main.png", alt="people")